<div id="<%= dom_id local %>">
  <p>
    <strong>Bairro:</strong>
    <%= local.bairro %>
  </p>

  <p>
    <strong>Referencia:</strong>
    <%= local.referencia %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= local.logradouro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= local.numero %>
  </p>

</div>
